
.idea/workspace.xml
.idea/vcs.xml
.idea/.name
.gradle/buildOutputCleanup/outputFiles.bin
.gradle/buildOutputCleanup/buildOutputCleanup.lock
.gradle/4.10/taskHistory/taskHistory.bin
.gradle/4.10/javaCompile/taskHistory.bin
.gradle/4.10/javaCompile/javaCompile.lock
.gradle/4.10/javaCompile/classAnalysis.bin
.gradle/4.10/fileHashes/fileHashes.lock
.gradle/4.10/fileHashes/fileHashes.bin
.gradle/4.10/taskHistory/taskHistory.lock
.idea/workspace.xml
.idea/vcs.xml
.idea/.name
.gradle/buildOutputCleanup/outputFiles.bin
.gradle/buildOutputCleanup/buildOutputCleanup.lock
.gradle/4.10/taskHistory/taskHistory.bin
.gradle/4.10/javaCompile/taskHistory.bin
.gradle/4.10/javaCompile/javaCompile.lock
.gradle/4.10/javaCompile/classAnalysis.bin
.gradle/4.10/fileHashes/fileHashes.lock
.gradle/4.10/fileHashes/fileHashes.bin
.gradle/4.10/taskHistory/taskHistory.lock
.gradle/4.10/javaCompile/classAnalysis.bin
